body {
    background-color: aqua;
}

#license {
    font-family: monospace;
    columns: 3;
    column-width: auto;
    column-gap: 10px;
    width: 550px;
    margin: 30px;
    background-image: url(/src/assets/images/hills.jpeg);
    background-size: cover;
    height: 350px;
    border-radius: 25px;
    text-shadow: rgb(255, 255, 255) 0px 0px 8px;
}


#license img {
    object-fit: cover;
    width: 165px;
    display: inline;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    height: 220px;
    margin-left: 15px;
    margin-bottom: -50px;
}

#col2 {
    line-height: 20px;
    padding-left: 10px;
    padding-top: 90px;
}

#col1 {
}

#col3 {
    padding-top: 90px;
}

#signature {
    font-family: signature;
    font-size: 36px;
    margin-top: 30px;
    margin-left: 15px;
    position: absolute;
}

@font-face {
    font-family: signature;
    src: url(../assets/fonts/BjornssonSignatureRegular-BWmwB.ttf);
}

h2 {
    position: absolute;
    padding-left: 20px;
    font-style: italic;
    font-size: 40px;
}

#backstory {
    width: 550px;
    margin-left: 30px;
    font-family: monospace;
}