body {
    background-color: black;
    background-image: url(/src/assets/images/alley2.jpeg);
    background-size: cover;
    background-repeat:no-repeat;
}

#license {
    font-family: monospace;
    columns: 3;
    column-width: auto;
    column-gap: 10px;
    width: 550px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(/src/assets/images/hills.jpeg);
    background-size: cover;
    height: 350px;
    border-radius: 25px;
    text-shadow: rgb(255, 255, 255) 0px 0px 8px;
    border-bottom: 20px solid aquamarine;
}


#license img {
    object-fit: cover;
    width: 165px;
    display: inline;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    height: 220px;
    margin-left: 15px;
    margin-bottom: -50px;
}



#col2 {
    line-height: 20px;
    padding-left: 10px;
    padding-top: 90px;
}

#col1 {
}

#col3 {
    padding-top: 86px;
    margin-left: -10px;
}

#col3 img {
    position: absolute;
    margin-top: -75px;
    margin-left: 110px;
    width: 60px;
    height: 60px;
    opacity: 75%;

}

#signature {
    font-family: signature;
    font-size: 36px;
    margin-top: 48px;
    margin-left: 20px;
    position: absolute;
}

@font-face {
    font-family: signature;
    src: url(../assets/fonts/BjornssonSignatureRegular-BWmwB.ttf);
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    padding-left: 20px;
    font-style: italic;
    font-size: 40px;
    background-color: aquamarine;
    width: 550px;
    border-radius: 25px 25px 0 0;
    padding-left: 40px;
    border-bottom: 22px solid white;
}

#backstory {
    width: 550px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 10px;
    border-radius: 10px;
}

form {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.25);
    width: 550px;
    border-radius: 10px;
}


input {
    border-radius: 10px;
}

select {
    border-radius: 10px;
}

button {
    border-radius: 10px;
    height: 40px;
    width: 250px;
    font-size: 18px;
}

#cop {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.25);
    width: 550px;
    border-radius: 10px;
}

.hidden {
    display: none;
}

#quoteDisplay {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.25);
    width: 550px;
    border-radius: 10px;
}

#gifDisplay {
    margin-top: 30px;
    border: 30px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#intro {
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
    font-weight: bold;
    font-family: monospace;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.25);
    width: 550px;
    border-radius: 10px;
}

#errorMessage {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: red;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.25);
    width: 550px;
    border-radius: 10px;
}

#nic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}